langchain
python-dotenv
ipykernel>=6.0
langchain_community
pypdf
bs4
arxiv
PyMuPDF
wikipedia
pyowm
# getpass
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
faiss-cpu
# chromadb
pypi
langchain_chroma
streamlit